.sidebarChannel {
  padding: 8px 8px 8px 20px;

  h4 {
    color: #7b7c85;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: #33363d;
      border-radius: 7px;
    }
  }

  .sidebarChannelHash {
    font-size: 22px;
    padding-right: 10px;
  }
}
