.sidebar {
  display: flex;
  flex: 0.3;
  height: 100vh;
  background: #33363d;

  .sidebarLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2226;
    padding: 7px 15px;

    .serverIcon {
      width: 60px;
      height: 60px;
      background-color: #33363d;
      border-radius: 9999px;
      margin-bottom: 10px;
      position: relative;
      margin-top: 7px;

      img {
        width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .sidebarRight {
    background-color: #2F3137;
    min-width: 300px;
    position: relative;
    
    .sidebarTop {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }

    .sidebarChannels {
      padding: 13px 13px 0 13px;

      .sidebarChannelsHeader {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 13px;
      }
      .sidebarHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .sidebarIcon {
        cursor: pointer;
      }
    }

    .sidebarFooter {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #686a6e;
      padding: 10px 0;
    }
    .sidebarAccount {
      display: flex;
      align-items: center;
      padding-left: 10px;

      img {
        width: 60px;
      }

      .accountName {
        margin-left: 5px;

        h4 {
          color: #fff;
          font-weight: 500;
        }

        span {
          color: #686a6e;
        }
      }
    }

    .sidebarVoice {
      display: flex;
      align-items: center;
      color: #686a6e;
      padding-right: 10px;
    }
  }
}
